{% extends 'main/layout.html' %}
{% load static%}

{% block title %}Урок 1. Глагол to be в настоящем времени{% endblock %}

{% block content %}

</header><!-- #masthead -->
<header class="entry-header ast-no-thumbnail">
<h1 class="entry-title" itemprop="headline">Урок 1. Глагол to be в настоящем времени: I am sure &#8212;  Я уверен</h1>	</header> <!-- .entry-header -->

itemprop="text">
<p>Мы начнем знакомство с английским предложением с самых важных элементов: глагола <strong>to be</strong> и личных местоимений, а также задействуем прилагательное &#8212; самую простую часть речи. На этом уроке мы научимся строить предложение по схеме:</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr style="height: 25px;">
<td style="width: 100%; text-align: center; height: 25px;"><strong>Личное местоимение + глагол to be + прилагательное </strong></td>
</tr>
</tbody>
</table>
<p>То есть предложение типа &#171;I am sure&#187; – &#171;Я уверен&#187;.</p>
<p><strong>Содержание:</strong></p>
<ul>
<li>Личные местоимения.</li>
<li>“Ты” и “вы” в английском языке.</li>
<li>To be &#8212; самый нужный глагол.</li>
<li>Местоимение it &#8212; не только &#171;оно&#187;.</li>
<li>Упражнения.</li>
<li>Словарь.</li>
</ul>
</table>
<h2>&#171;Ты&#187; и &#171;вы&#187; в английском языке</h2>
<p>Обратите внимание, что русскому &#171;ты&#187; и &#171;вы&#187; в английском соответствует одно местоимение <strong>you</strong>. Нам от этого только проще: во-первых, меньше местоимений учить, во-вторых, не нужно думать, когда к человеку обращаться на «вы», а когда на «ты».</p>
<p>Но чтобы построить предложение, одного местоимения недостаточно. Второй важный элемент &#8212; глагол<strong> to be</strong>.</p>
<h2>To be – самый нужный английский глагол</h2>
<p>Глагол <strong>to</strong> <strong>be </strong>– это самый нужный и употребительный глагол в английском языке. Он значит «быть», «являться». В речи он принимает разные формы в зависимости от лица, числа и времени.</p>
<hr />
<p><em>Примечание: глагол <strong>to be</strong> можно называть просто <strong>be</strong>, но в учебных пособиях (русскоязычных) обычно глагол в неопределенной форме пишут с частицей <strong>to,</strong> которая сама по себе ничего не значит, а служит лишь индикатором того, что глагол используется в неопределенной форме. Не будем отходить от этой традиции.</em></p>
<hr />
<p>К примеру, в первом лице единственного числа он превращается в <strong>am</strong>. Возьмем пример с прилагательным <strong>sure</strong> &#8212; <em>уверенный.</em></p>
<p><strong>Прилагательное</strong> &#8212; это часть речи, которая обозначает признак, в нашем случае относящийся к лицу, выраженному местоимением. В отличие от глагола, прилагательному не нужно менять свою форму, подстраиваясь под лицо и число местоимения. Прилагательное &#8212; самая простая часть речи, поэтому мы начнем строить предложения именно с ним.</p>
<p>Посмотрим, как фраза из трех слов будет выглядеть в зависимости от лица и числа. Мы пока возьмем примеры только в настоящем времени, к прошедшему и будущему вернемся позже.</p>
<div class="su-list" style="margin-left:0px">
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <strong>Единственное число:</strong></li>
</ul>
<blockquote><p>I <strong>am</strong> sure – Я уверен.</p>
<p>You <strong>are</strong><span class="nontranscriptable"> </span>sure &#8212; Ты уверен.</p>
<p>He (She, It) <strong>is</strong> sure &#8212; Он уверен (Она уверена, Оно уверено).</p></blockquote>
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <strong>Множественное число:</strong></li>
</ul>
<blockquote><p>We <strong>are</strong> sure. &#8212; Мы уверены.</p>
<p>You <strong>are</strong> sure. &#8212; Вы уверены.</p>
<p>They <strong>are</strong> sure. &#8212; Они уверены.</p></blockquote>
<p>Как видите, глагол <strong>to be</strong> принимает разные формы: <strong>am, are</strong> или <strong>is.</strong> Пусть вас не смущает, что эти слова не похожи на <strong>to be</strong> &#8212; это разные формы одного слова.</p>
<p>В русском языке мы не используем такой глагол-связку в настоящем времени, но слово &#171;быть&#187; подразумевается:</p>
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> Я уверен = Я есть уверенный = Я являюсь уверенным.</li>
<li><i class="sui sui-circle" style="color:#feb431"></i> Мы уверены = Мы есть уверенные = Мы являемся уверенными.</li>
</ul>
<p>Еще раз повторим формы глагола <strong>to be</strong>, но уже в виде таблицы &#8212; так нагляднее.</p>
<table style="height: 100px;">
<tbody>
<tr style="height: 25px;">
<th style="height: 25px;" width="67"></th>
<th style="height: 25px;" width="209">Единственное число</th>
<th style="height: 25px;" width="224">Множественное число</th>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="67">1 лицо</td>
<td style="height: 25px;" width="209">I <strong>am</strong> sure (I’m sure)</td>
<td style="height: 25px;" width="224">We <strong>are</strong> sure (We’re sure)</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="67">2 лицо</td>
<td style="height: 25px;" width="209">You <strong>are</strong> sure (You’re sure)</td>
<td style="height: 25px;" width="224">You <strong>are</strong> sure (You’re sure)</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="67">3 лицо</td>
<td style="height: 25px;" width="209">He, she, it <strong>is</strong> sure (He’s\She’s\It’s sure)</td>
<td style="height: 25px;" width="224">They <strong>are</strong> sure (They’re sure)</td>
</tr>
</tbody>
</table>
<p>В скобках я добавил примечания: личные местоимения и глагол to be в разговорной речи обычно &#171;срастаются&#187;, сокращаясь до указанных форм.</p>
<h2>Местоимение it &#8212; не только &#171;оно&#187;</h2>
<p>Местоимение<strong> it</strong> используется, не только когда говорят о неодушевленном предмете, но и:</p>
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> Применительно к животным и птицам &#8212; в английском языке их часто называют <strong>it,</strong> а не <strong>she</strong> или he.</li>
</ul>
<blockquote><p><strong>It</strong> is scared. &#8212; <strong>Он</strong> напуган (о щенке)</p>
<p><strong>It</strong> is angry. &#8212; <strong>Она</strong> сердится (о птице)</p></blockquote>
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> В безличных предложениях, где речь идет о какой-то ситуации, состоянии, погоде. По-русски мы в таком случае говорим “это”, а не “оно” или вообще обходимся одним прилагательным:</li>
</ul>
<blockquote><p><strong>It</strong> is good. &#8212; <strong>Это</strong> хорошо.</p>
<p><strong>It</strong> is bad. &#8212; <strong>Это</strong> плохо.</p></blockquote>
<p>По-английски нельзя сказать просто “Cold”, или “Dark”, как мы говорим &#171;холодно&#187; или &#171;темно&#187; в значении &#171;Сейчас (здесь) холодно&#187;, &#171;Сейчас (здесь) темно&#187;. Обязательно нужно &#171;It is&#187;:</p>
<blockquote><p><strong>It is</strong> cold. &#8212; Холодно.</p>
<p><strong>It is</strong> dark. – Темно.</p></blockquote>
<h2>Грамматические упражнения</h2>
<p>Пройдите эти упражнения, чтобы закрепить материал урока.</p>
<a href="/quiz/test/1/"><button type="button" class="btn btn-dark me-2">Тест 1</button></a>
<h2>Словарь</h2>
<h3>1. Слова из урока</h3>
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <strong>Личные местоимения, глагол to be и его формы.</strong></li>
</ul>
<table style="height: 275px;" width="539">
<tbody>
<tr style="height: 25px;">
<td style="height: 25px;" width="185">I</td>
<td style="height: 25px;" width="192">[aɪ]</td>
<td style="height: 25px;" width="162">я</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">you</td>
<td style="height: 25px;">[juː]</td>
<td style="height: 25px;">ты, вы</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">he</td>
<td style="height: 25px;">[hiː]</td>
<td style="height: 25px;">он</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">she</td>
<td style="height: 25px;">[ʃiː]</td>
<td style="height: 25px;">она</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">it</td>
<td style="height: 25px;">[ɪt]</td>
<td style="height: 25px;">оно, это</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">we</td>
<td style="height: 25px;">[wiː]</td>
<td style="height: 25px;">мы</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">they</td>
<td style="height: 25px;">[ðeɪ]</td>
<td style="height: 25px;">они</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">to be</td>
<td style="height: 25px;">[tuː biː]</td>
<td style="height: 25px;">быть</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">is</td>
<td style="height: 25px;">[ɪz]</td>
<td style="height: 25px;">(он) есть</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">are</td>
<td style="height: 25px;">[ɑː]</td>
<td style="height: 25px;">(вы, они, мы) есть</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">am</td>
<td style="height: 25px;">[æm]</td>
<td style="height: 25px;">(я) есть</td>
</tr>
</tbody>
</table>
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <strong>Прилагательные</strong></li>
</ul>
<p>Здесь приведены слова, использованные на уроке и в упражнениях. Если вам не знакомы эти слова, я рекомендую их выучить.</p>
<table style="height: 275px;" width="539">
<tbody>
<tr style="height: 25px;">
<td style="height: 25px;" width="185">scared</td>
<td style="height: 25px;" width="192">[skeəd]</td>
<td style="height: 25px;" width="162">испуганный</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">ready</td>
<td style="height: 25px;">[ˈrɛdi]</td>
<td style="height: 25px;">готовый</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">lazy</td>
<td style="height: 25px;">[ˈleɪzi]</td>
<td style="height: 25px;">ленивый</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">strange</td>
<td style="height: 25px;">[streɪnʤ]</td>
<td style="height: 25px;">странный</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">smart</td>
<td style="height: 25px;">[smɑːt]</td>
<td style="height: 25px;">умный</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">wrong</td>
<td style="height: 25px;">[rɒŋ]</td>
<td style="height: 25px;">неправ, неправый</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">tired</td>
<td style="height: 25px;">[ˈtaɪəd]</td>
<td style="height: 25px;">уставший</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">kind</td>
<td style="height: 25px;">[kaɪnd]</td>
<td style="height: 25px;">добрый</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">good</td>
<td style="height: 25px;">[gʊd]</td>
<td style="height: 25px;">хороший</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">stupid</td>
<td style="height: 25px;">[ˈstjuːpɪd]</td>
<td style="height: 25px;">глупый</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;">bad</td>
<td style="height: 25px;">[bæd]</td>
<td style="height: 25px;">плохой</td>
</tr>
<tr>
<td>cold</td>
<td>[<span class="transcribed_word">kəʊld</span>]<span class="nontranscriptable"> </span></td>
<td>холодный</td>
</tr>
<tr>
<td>dark</td>
<td>
<div id="transcr_output">[<span class="transcribed_word">dɑːk</span>]</div>
</td>
<td>темный</td>
</tr>
</tbody>
</table>
<p>По формуле “I am sure” можно построить тысячи предложений с общим смыслом “кто-то является каким-то”. Особенно хорошо под эту схему подходят прилагательные, называющие качества, возраст, внешность, состояние человека &#8212; именно слова на эту тему использованы в этом и будут использованы в нескольких следующих уроках.</p>
<h3>2. Дополнительная лексика</h3>
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <strong>Слова, усиливающие прилагательные</strong></li>
</ul>
</div>
<p>Этих слов не было в уроке, но вам следует обратить на них внимание. Они часто используются, чтобы усилить значение прилагательных. Они всегда стоят перед прилагательным.</p>
<table style="height: 100px;">
<tbody>
<tr style="height: 25px;">
<td style="height: 25px;" width="133">very</td>
<td style="height: 25px;" width="141">[ˈvɛri]</td>
<td style="height: 25px;" width="189">очень</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="133">so</td>
<td style="height: 25px;" width="141">[səʊ]</td>
<td style="height: 25px;" width="189">так, настолько</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="133">really</td>
<td style="height: 25px;" width="141">[ˈrɪəli]</td>
<td style="height: 25px;" width="189">действительно, по-настоящему</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="133">too</td>
<td style="height: 25px;" width="141">[<span class="transcribed_word">tuː</span>]</td>
<td style="height: 25px;" width="189">слишком</td>
</tr>
</tbody>
</table>
<p>Примеры:</p>
<blockquote><p>He is <strong>so</strong> stupid. &#8212; Он такой глупый.</p>
<p>She is <strong>so</strong> lazy. &#8212; Она такая ленивая.</p>
<p>They are <strong>very strange</strong> &#8212; Они очень странные.</p>
<p>I am <strong>really</strong> ready. &#8212; Я действительно готов.</p>
<p>You are <strong>too</strong> tired. &#8212; Ты слишком устал.</p></blockquote>
<hr />

{% endblock %}