{% extends 'main/layout.html' %}
{% load static%}

{% block title %}Урок 2. Глагол to be в прошедшем времени{% endblock %}

{% block content %}

<body>
</header><!-- #masthead -->
<div id="content" class="site-content">
<div class="ast-container">
<div id="primary" class="content-area primary">
<main id="main" class="site-main">
<article
class="post-12570 page type-page status-publish has-post-thumbnail ast-article-single" id="post-12570" itemtype="https://schema.org/CreativeWork" itemscope="itemscope">
<header class="entry-header ast-no-thumbnail">
<h1 class="entry-title" itemprop="headline">Урок 2. Глагол to be в прошедшем времени: I was sure &#8212;  Я был уверен</h1>	</header> <!-- .entry-header -->
<div class="entry-content clear"
itemprop="text">
<p>Из предыдущего урока вы узнали, как построить предложение по образцу &#171;I am sure&#187;, то есть в настоящем времени с прилагательным. В этом уроке мы разберем, как перевести это предложение в прошедшее время.</p>
<p><strong>Содержание:</strong></p>
<ul>
<li>Ставим глагол to be в прошедшее время.</li>
<li>Союзы and, or, but.</li>

<li>Словарь.</li>
</ul>
<h2>Ставим глагол to be в прошедшее время</h2>
<p>Напомню, в настоящем времени формула такая:</p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%; text-align: center;"><strong>Личное местоимение + to be + прилагательное</strong></td>
</tr>
</tbody>
</table>
<p>В прошедшем времени меняется только глагол <strong>to be</strong>, остальные слова не трогаем. Глагол <strong>to be</strong> нужно поставить в форму прошедшего времени. Таких форм всего две:</p><div class='code-block code-block-1' style='margin: 8px auto 8px 0; text-align: left; display: block; clear: both;'>
<div data-elementor-type="section" data-elementor-id="26798" class="elementor elementor-26798">
<div class="elementor-section-wrap">

</div>
<div class="su-list" style="margin-left:0px">
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <strong>was </strong>[<span class="transcribed_word">wɒz</span>],</li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <strong>were </strong>[<span class="transcribed_word">wɜː</span>].</li>
</ul>
</div>
<p>Вот как они используются:</p>
<table style="height: 100px;">
<tbody>
<tr style="height: 25px;">
<th style="height: 25px;" width="68"></th>
<th style="height: 25px;" width="216">Единственное число</th>
<th style="height: 25px;" width="231">Множественное число</th>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="68">1 лицо</td>
<td style="height: 25px;" width="216">I <strong>was</strong> sure</td>
<td style="height: 25px;" width="231">We <strong>were</strong> sure</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="68">2 лицо</td>
<td style="height: 25px;" width="216">You <strong>were</strong> sure</td>
<td style="height: 25px;" width="231">You <strong>were</strong> sure</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="68">3 лицо</td>
<td style="height: 25px;" width="216">He, she, it <strong>was</strong> sure</td>
<td style="height: 25px;" width="231">They <strong>were</strong> sure</td>
</tr>
</tbody>
</table>
<p><em>Примечание: в прошедшем времени нет сокращений, при которых местоимение &#171;срастается&#187; с глаголом.</em></p>
<p>Как видите, глагол <strong>to be</strong> в прошедшем времени выучить легче, чем в настоящем &#8212; нужно запомнить всего две формы, причем в четырех случаях из шести &#8212; это форма <strong>were.</strong></p>
<p>Приведу примеры с прилагательными:</p>
<blockquote><p>I <strong>was</strong> right. &#8212; Я был прав.</p>
<p>You <strong>were</strong> angry.- Ты сердился (вы сердились).</p>
<p>He <strong>was</strong> bored. &#8212; Ему было скучно (дословно: он был заскучавшим).</p>
<p>She <strong>was</strong> fine. &#8212; Она была в порядке.</p>
<p>It <strong>was</strong> cold. &#8212; Было холодно.</p>
<p>We <strong>were</strong> sick. &#8212; Мы были больны.</p>
<p>They <strong>were</strong> sure. &#8212; Они были уверены.</p></blockquote>
<h2>Союзы and, or, but</h2>
<p>Мы можем немного расширить нашу схему предложения, добавив еще одно прилагательное с помощью союзов <strong>and</strong> &#8212; <em>и</em>, <strong>or</strong> &#8212; <em>или,</em> <strong>but</strong> &#8212; <em>но.</em></p>
<blockquote><p>I was scared <strong>and</strong> angry. &#8212; Я был напуган и сердит.</p>
<p>He was ready <strong>but</strong> tired. &#8212; Он был готов, но устал (готовым, но уставшим).</p>
<p>They were smart <strong>or</strong> stupid. &#8212; Они были умными или глупыми.</p></blockquote>
<h2>Упражнения</h2>
<p>Пройдите эти упражнения, чтобы закрепить материал урока.</p>
<a href="/quiz/test/1/"><button type="button" class="btn btn-dark me-2">Тест 1</button></a>

<h2>Словарь</h2>
<p>В этом уроке использованы слова из предыдущего урока, союзы <strong>and, but, or</strong>, а также прилагательные:</p>
<table style="height: 175px;" width="539">
<tbody>
<tr style="height: 25px;">
<td style="height: 25px;" width="185">right</td>
<td style="height: 25px;" width="192">[raɪt]</td>
<td style="height: 25px;" width="162">прав, правильный</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="185">angry</td>
<td style="height: 25px;" width="192">[ˈæŋgri]</td>
<td style="height: 25px;" width="162">сердитый</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="185">bored</td>
<td style="height: 25px;" width="192">[bɔːd]</td>
<td style="height: 25px;" width="162">скучающий</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="185">fine</td>
<td style="height: 25px;" width="192">[faɪn]</td>
<td style="height: 25px;" width="162">в порядке, в хорошем самочувствии</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="185">sick</td>
<td style="height: 25px;" width="192">[sɪk]</td>
<td style="height: 25px;" width="162">больной</td>
</tr>
<tr style="height: 25px;">
<td style="height: 25px;" width="185">smart</td>
<td style="height: 25px;" width="192">[smɑːt]</td>
<td style="height: 25px;" width="162">умный</td>
</tr>
</tbody>
</table>
<hr />
<div class="su-list" style="margin-left:0px">
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#/"><strong>&gt;&gt; </strong><strong>Следующий урок.</strong></a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#"><strong>&lt;&lt; </strong><strong>Предыдущий урок.</strong></a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <strong><a href="#">Все уроки.</a></strong></li>
</ul>
</div>

</body>

{% endblock %}