{% extends 'base.html' %}
{% load static%}



{% block title %}Урок 1. Глагол to be в настоящем времени{% endblock title %}



{% block header %}
{% include 'layouts/header.html' %}
{% endblock header %}



{% block main %}

<h3>Часть 1. Предложение с самым нужным словом в английском языке</h3>
<hr />
<p><strong>Глава 1. Предложения с глаголом to be и прилагательным</strong></p>
<div class="su-list" style="margin-left:0px">
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="{% url 'les1' %}">Урок 1. I am sure &#8212; Я уверен.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="{% url 'les2' %}">Урок 2. I was sure &#8212; Я был уверен.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 3. I will be sure &#8212; Я буду уверен.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 4. I am not sure &#8212; Я не уверен.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 5. Are you sure? &#8212; Ты уверен?</a></li>
</ul>
</div>
<p><strong>Глава 2. Предложения с глаголом to be и существительным</strong></p>
<div class="su-list" style="margin-left:0px">
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 6. Существительное и артикль.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 7. I am a friend &#8212; Я друг.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 8. I am your friend. &#8212; Я твой друг.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 9. My friend is a good person. &#8212; Мой друг &#8212; хороший человек.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 10. This man is my friend. &#8212; Этот человек мой друг.</a></li>
</ul>
<h3>Часть 2. Предложение с глаголом</h3>
<hr />
<p><strong>Глава 4. Самые простые предложения с глаголом</strong></p>
<div class="su-list" style="margin-left:0px">
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 17. Глагол &#8212; общие сведения.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 18. Go! &#8212; Иди!</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 19. I dance every day, you are dancing now. &#8212; Я танцую каждый день, ты танцуешь сейчас.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 20. I understand you now. &#8212; Я понимаю тебя сейчас.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 21. I will play. I will be playing. &#8212; Я поиграю. Я буду играть.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 22. I invited. I was inviting. &#8212; Я пригласил. Я приглашал.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 23. I don&#8217;t drink coffee. &#8212; Я не пью кофе.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 24. Do you drink coffee? Are you drinking coffee? &#8212; Вы пьете кофе?</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 25. What do you do? What are you doing? &#8212; Чем вы занимаетесь? Что вы делаете?</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 26. I run faster than you do. &#8212; Я бегаю быстрее вас.</a></li>
</ul>
</div>
<h3>Часть 3. Предложение с двумя глаголами</h3>
<hr />
<p><strong>Глава 7. Предложения с инфинитивом, герундием и модальным глаголом</strong></p>
<div class="su-list" style="margin-left:0px">
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 34. I like to read\I like reading. &#8212; Мне нравится читать.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 35. It is nice to meet you. &#8212; Приятно с вами познакомиться.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 36. She wants to be understood. &#8212; Она хочет, чтобы ее поняли.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 37. You can (may) do it. &#8212; Ты можешь это сделать.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 38. You must (should) stop. &#8212; Ты должен остановиться.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 39. I have (am supposed) to work. &#8212; Я должен (по идее) работать.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 40. I used to (would) play football. &#8212; Раньше я (бывало) играл в футбол.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 41. I do know you! &#8212; Я точно вас знаю!</a></li>
</ul>
</div>
<p><strong>Глава 8. Глагол + дополнение\обстоятельство + инфинитив</strong></p>
<div class="su-list" style="margin-left:0px">
<ul>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 42. I need you to know. &#8212; Мне нужно, чтобы вы знали.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 43. I came here to help you. &#8212; Я пришел сюда, чтобы вам помочь.</a></li>
<li><i class="sui sui-circle" style="color:#feb431"></i> <a href="#">Урок 44. I have money to spend. &#8212; У меня есть деньги на расходы.</a></li>
</ul>
</div>
<hr />

{% endblock main %}



{% block footer %}
{% include 'layouts/footer.html' %}
{% endblock footer %}

